<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AASBackend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCSignUp</display-name>
    <servlet-name>TCSignUp</servlet-name>
    <servlet-class>TCSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCSignUp</servlet-name>
    <url-pattern>/TCSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserRet</display-name>
    <servlet-name>AdminUserRet</servlet-name>
    <servlet-class>AdminUserRet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserRet</servlet-name>
    <url-pattern>/AdminUserRet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTCompRet</display-name>
    <servlet-name>AdminTCompRet</servlet-name>
    <servlet-class>AdminTCompRet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTCompRet</servlet-name>
    <url-pattern>/AdminTCompRet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTourServlet</display-name>
    <servlet-name>AddTourServlet</servlet-name>
    <servlet-class>TourCompany.AddTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTourServlet</servlet-name>
    <url-pattern>/AddTourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCAddTourServlet</display-name>
    <servlet-name>TCAddTourServlet</servlet-name>
    <servlet-class>TCAddTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCAddTourServlet</servlet-name>
    <url-pattern>/TCAddTourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TouristController</display-name>
    <servlet-name>TouristController</servlet-name>
    <servlet-class>Tourist.TouristController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TouristController</servlet-name>
    <url-pattern>/TouristController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTCompRetController</display-name>
    <servlet-name>AdminTCompRetController</servlet-name>
    <servlet-class>Admin.AdminTCompRetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTCompRetController</servlet-name>
    <url-pattern>/AdminTCompRetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserRetController</display-name>
    <servlet-name>AdminUserRetController</servlet-name>
    <servlet-class>Admin.AdminUserRetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserRetController</servlet-name>
    <url-pattern>/AdminUserRetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCAddTourController</display-name>
    <servlet-name>TCAddTourController</servlet-name>
    <servlet-class>TourCompany.TCAddTourController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCAddTourController</servlet-name>
    <url-pattern>/TCAddTourController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCSignUpController</display-name>
    <servlet-name>TCSignUpController</servlet-name>
    <servlet-class>TourCompany.TCSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCSignUpController</servlet-name>
    <url-pattern>/TCSignUpController</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>AdminTourCompanyAppOrDisapp</servlet-name>
    <servlet-class>Admin.AdminTourCompanyAppOrDisapp</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AdminTourCompanyAppOrDisapp</servlet-name>
    <url-pattern>/AdminTourCompanyAppOrDisapp</url-pattern>
</servlet-mapping>

  <servlet>
    <description></description>
    <display-name>TCManageTourController</display-name>
    <servlet-name>TCManageTourController</servlet-name>
    <servlet-class>TourCompany.TCManageTourController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCManageTourController</servlet-name>
    <url-pattern>/TCManageTourController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCFetchAllToursController</display-name>
    <servlet-name>TCFetchAllToursController</servlet-name>
    <servlet-class>TourCompany.TCFetchAllToursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCFetchAllToursController</servlet-name>
    <url-pattern>/TCFetchAllToursController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCFetchAllBookedToursController</display-name>
    <servlet-name>TCFetchAllBookedToursController</servlet-name>
    <servlet-class>TourCompany.TCFetchAllBookedToursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCFetchAllBookedToursController</servlet-name>
    <url-pattern>/TCFetchAllBookedToursController</url-pattern>
  </servlet-mapping>
</web-app>